<head><link rel="stylesheet" href="/CSS/dados.css"></head>

<body>
    <div class="dados">
        <div class="bloco">
        {{#if lista}}
            <h1>Lista de Pessoas Cadastradas</h1>
        <div class="lista">
        {{#each lista}}
                 <div class="pessoa">
                    <div class="content">
                        <span><h2>Nome:</h2></span>
                        <span>{{nome}}</span>
                        <span><h2>Usuário:</h2></span>
                        <span>{{user}}</span>
                        <span><h2>Senha:</h2></span>
                        <span>{{senha}}</span>
                        <span><h2>Email:</h2></span>
                        <span>{{email}}</span>
                        <span><h2>Telefone para contato:</h2></span>
                        <span>{{telefone}}</span>
                    </div>
                </div>
        {{/each}}
        </div>
    {{else}}
        <div class="listaNao">
            <h1>Nenhum usuário cadastrado!</h1>
            <button class="btn btn5" onclick="cadastro()">Realize seu cadastro aqui!</button>
        </div>
     {{/if}}
    </div>
    </div>
</body>